<!DOCTYPE html>
<html>
<head>
    <title>Kelly Joseph Price</title>
</head>

<body>
    <div id="wrap">
        <div id="main">
            <h1>Kelly Joseph Price</h1>
            <p>
                I'm a software engineer who grew up in the East Bay and
                has lived in the South Bay for the last ten years. While 
                working as a barista and then coffee roaster, I went to 
                college part time. I got into CS classes and was offered 
                an internship. My boss was very impressed with me, and I 
                opted to start working in the industry instead of 
                finishing school. When that began to not feel
                challenging anymore, I set out to learn web development. 
                Recently, I've just finished a course at AppAcademy.
            </p>
            <br>
        </div>
        <div id="sidebar">
            <img
              src="http://www.gravatar.com/avatar/68f81a8a0f95e75a0c764d51ad40355b.png"
              id="gravatar"
             >
            <ul class="contact">
                <li>
                    <a href="mailto:kellyjosephprice@gmail.com">kellyjosephprice@gmail.com</a>
                </li>
                <li>925 234-2914</li> 
                <br>
                <li><a href="http://github.com/kellyjosephprice">github</a></li>
                <li><a href="http://kellyjosephprice.tumblr.com">blog</a></li>
            </ul>
        </div>
    </div>
</body>
</html>
