<section class="parallax parallax-1">
  <div id="about" class="smooth-scroll"></div>
  <div class="container">
    <h1>about</h1>
  </div>
</section>

<section class="content">
  <div class="container">
    <article class="media">
      <!--
      <a class="media-left" href="#">
        <img class="img-rounded" src="assets/headshot.jpg">
      </a>
      -->
      <div class="media-body">
        <p>
          I'm a software engineer who grew up in the East Bay and
          has lived in the South Bay for the last ten years. While 
          working as a barista and then coffee roaster, I went to 
          college part time. I got into CS classes and was offered 
          an internship. I opted to start working in the industry instead of 
          finishing school. When that began to not feel
          challenging anymore, I set out to learn web development. 
          Recently, I've just finished a course at AppAcademy.
        </p>
        <p>
          I code because it's enjoyable, because I like to solve interesting 
          problems, and because I like to make things. 
        </p>
      </div>
    </article>
  </div>
</section>
      
<section class="parallax parallax-2">
  <div id="projects" class="smooth-scroll"></div>
  <div class="container">
    <h1>projects</h1>
  </div>
</section>

<section class="content">
  <div class="container">
    <ul>
      <li>
        <%= link_to "Uncle Worm", "http://uncle-worm.herokuapp.com" %>
        <p>
          A remake of an old TI-83 classic in pure javascript and HTML canvas drawing.
        </p>
      </li>
      <li>
        <%= link_to "ramblr", "http://www.ramblr.co" %>
        <p>
          A yelp-like with a minimal design. It's a Backbone.js 
          single page app that consumes a Rails API. It uses the jQuery auto-complete
          plugin and custom Rails controllers for full-text searches of the database.
          Every API route is russian-doll cached.
        </p>
      </li>
    </ul>
  </div>
</section>

<section class="parallax parallax-3">
  <div id="social" class="smooth-scroll"></div>
  <div class="container">
    <h1>social</h1>
  </div>
</section>

<!--
  icons from:
  http://martz90.deviantart.com/art/Circle-Icons-Pack-371172325
-->
<section class="content">
  <div class="container social">
    <ul>
      <li>
        <a href="mailto:kellyjosephprice@gmail.com">
          <img alt="kellyjosephprice@gmail.com" src="http://i.imgur.com/8wopfJa.png">
        </a>
      </li>
      <li>
        <a href="http://github.com/kellyjosephprice">
          <img alt="github" src="http://i.imgur.com/fk3AvLj.png">
        </a>
      </li>
      <li>
        <a href="https://www.linkedin.com/pub/kelly-price/22/760/a11">
          <img alt="linkedin" src="http://i.imgur.com/dRsCSIR.png">
        </a>
      </li>
      <li>
        <a href="http://kellyjosephprice.tumblr.com">
          <img alt="blog" src="http://i.imgur.com/VoKhJ3D.png">
        </a>
      </li>
    </ul>
  </div>
</section>
