<section id="about" 
  data-type="background"
  data-speed="10"
  >
  <article>    
    <img
      src="http://www.gravatar.com/avatar/68f81a8a0f95e75a0c764d51ad40355b.png"
      id="gravatar"
     >
    <p>
      I'm a software engineer who grew up in the East Bay and
      has lived in the South Bay for the last ten years. While 
      working as a barista and then coffee roaster, I went to 
      college part time. I got into CS classes and was offered 
      an internship. I opted to start working in the industry instead of 
      finishing school. When that began to not feel
      challenging anymore, I set out to learn web development. 
      Recently, I've just finished a course at AppAcademy.
    </p>
    <p>
      I code because it's enjoyable, because I like to solve interesting 
      problems, and because I like to make things. 
    </p>
  </article>
</section>
      
<section id="projects" 
  data-type="background"
  data-speed="10"
  >
  <article>
    <ul>
      <li>
        <%= link_to "Uncle Worm", "http://uncle-worm.herokuapp.com" %>
        <p>
          A remake of an old TI-83 classic in pure javascript. 
          Work in progress, expect daily updates.
        </p>
      </li>
      <li>
        <%= link_to "ramblr", "http://www.ramblr.co" %>
        <p>
          A yelp-like with a minimal design. It's a Backbone.js 
          single page app that consumes a Rails API.
        </p>
      </li>
    </ul>
  </article>
</section>

<section id="contact"
  data-type="background"
  data-speed="10"
  >
  <article>
    <ul class="contact">
      <li>
        <a href="mailto:kellyjosephprice@gmail.com">kellyjosephprice@gmail.com</a>
      </li>
      <li>
        <a href="http://github.com/kellyjosephprice">github</a>
      </li>
      <li>
        <a href="http://kellyjosephprice.tumblr.com">blog</a>
      </li>
      <li>
        <a href="https://www.linkedin.com/pub/kelly-price/22/760/a11">linkedin</a>
      </li>
    </ul>
  </article>
</section>
