/*
 *= require static_pages
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap-theme";
@import "bootstrap";

body {
    font-family: 'Open Sans Condensed', serif;
    font-family: 'Source Sans Pro', sans-serif;
}

main {
    margin-top: 100px;
}

nav .container {
    max-width: 1200px;
    margin: 0 auto;
}

nav.navbar {
    border: 0px;
}

nav .navbar-nav li a {
    line-height: 100px;
    height: 100px;
    padding-top: 0px;
    padding-bottom: 0px;
}
