section {
    height: 1000px;
    margin: 0 auto;
    width: 100%;
    position: relative;
}

#about {
    background: #d1d5da;
}

#projects {
    background: #a1a5aa;
}

#contact {
    background: #51555a;
}

article {
    background: rgba(0, 0, 0, .1);
    position: absolute;
    max-width: 600px;
    height: 100%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 150px 30px;
}
