<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-pagelinks">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <h1><p class="navbar-text">Kelly Joseph Price</p></h1>
    </div>
    <div id="navbar-pagelinks" class="navbar-right navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="#about">about</a></li>
        <li><a href="#projects">projects</a></li>
        <li><a href="#social">social</a></li>
      </ul>
    </div>
  </div>
</nav>
